:root {
  --input-padding-x: var(--length-2, 0.5rem);
  --input-padding-y: var(--length-2, 0.5rem);
  --line-height: 1.2;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: var(--line-height);
  tab-size: 2;
}

body {
  line-height: inherit;
  margin: 0;
}

button,
input,
select,
textarea {
  margin: 0; /* Firefox, Safari */
}

button,
input,
input[type="file"]::-webkit-file-upload-button,
input[type="file"]::file-selector-button,
select,
textarea {
  border: none;
  border-radius: 0; /* Safari iOS */
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: var(--input-padding-y) var(--input-padding-x);
}

input[type="file"] {
  padding: 0;
}

input[type="file"]::-webkit-file-upload-button,
input[type="file"]::file-selector-button,
input[type="search"] {
  appearance: none; /* Safari iOS */
}

input[type="search"]::-webkit-search-cancel-button {
  display: none; /* Safari */
}

button,
select {
  -webkit-user-select: none;
  user-select: none;
}

button:enabled,
input[type="checkbox"]:enabled,
input[type="color"]:enabled,
input[type="file"]:enabled,
input[type="file"]:enabled::-webkit-file-upload-button,
input[type="file"]:enabled::file-selector-button,
input[type="radio"]:enabled,
select:enabled {
  cursor: pointer;
}

select {
  appearance: none; /* Safari */
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'><path stroke='rgb(107,114,128)' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/></svg>");
  background-position: right var(--length-2, 0.5rem) center;
  background-repeat: no-repeat;
  background-size: 1.5rem;
  padding-right: max(var(--input-padding-x), 20px);
}

select:disabled {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'><path stroke='rgb(107,114,128,0.3)' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/></svg>");
  opacity: 1; /* Chrome, Edge */
}

textarea {
  height: calc(
    var(--input-border-width) * 2 + var(--input-padding-y) * 2 + 1rem * var(--line-height) * 3
  );
  min-height: calc(
    var(--input-border-width) * 2 + var(--input-padding-y) * 2 + 1rem * var(--line-height)
  );
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* Firefox */
}

input:disabled::placeholder,
textarea:disabled::placeholder {
  opacity: 0.35;
}
