:root {
  color-scheme: light;
  --html-background-color: hsl(0deg 0% 100%);
  --html-color: hsl(0deg 0% 0%);

  --button-background-color: hsl(0deg 0% 94%);
  --button-background-color--disabled: hsl(0deg 0% 97%);
  --button-background-color--hover: hsl(0deg 0% 90%);
  --button-border-radius: 5px;
  --button-color: inherit;
  --button-color--disabled: hsl(0deg 0% 80%);
  --button-color--hover: inherit;

  --input-background-color: hsl(0deg 0% 100%);
  --input-background-color--disabled: hsl(0deg 0% 98%);
  --input-border-color: hsl(0deg 0% 65%);
  --input-border-color--disabled: hsl(0deg 0% 90%);
  --input-border-style: solid;
  --input-border-width: 1px;
  --input-color: inherit;
  --input-color--disabled: hsl(0deg 0% 60%);
  --input-placeholder-color: hsl(0deg 0% 50%);

  --focus-visible-outline-color: hsl(216deg 100% 66%);
  --focus-visible-outline-offset: -1px;
  --focus-visible-outline-style: solid;
  --focus-visible-outline-width: 3px;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --html-background-color: hsl(0deg 0% 10%);
    --html-color: hsl(0deg 0% 90%);

    --button-background-color: hsl(0deg 0% 20%);
    --button-background-color--disabled: hsl(0deg 0% 14.5%);
    --button-background-color--hover: hsl(0deg 0% 26%);
    --button-color: inherit;
    --button-color--disabled: hsl(0deg 0% 30%);
    --button-color--hover: inherit;

    --input-background-color: hsl(0deg 0% 8%);
    --input-background-color--disabled: hsl(0deg 0% 12.5%);
    --input-border-color: hsl(0deg 0% 20%);
    --input-border-color--disabled: hsl(0deg 0% 20%);
    --input-color: inherit;
    --input-color--disabled: hsl(0deg 0% 60%);
    --input-placeholder-color: hsl(0deg 0% 50%);
  }
}

html {
  background-color: var(--html-background-color);
  color: var(--html-color);
  cursor: default;
  font-size: var(--base-length);
}

button,
select,
input[type="color"],
input[type="file"]::-webkit-file-upload-button,
input[type="file"]::file-selector-button {
  background-color: var(--button-background-color);
  border-radius: var(--button-border-radius);
  color: var(--button-color);
}

button:hover,
select:hover,
input[type="color"]:hover,
input[type="file"]:hover::-webkit-file-upload-button,
input[type="file"]:hover::file-selector-button {
  background-color: var(--button-background-color--hover);
  color: var(--button-color--hover);
}

button:disabled,
select:disabled,
input[type="color"]:disabled,
input[type="file"]:disabled::-webkit-file-upload-button,
input[type="file"]:disabled::file-selector-button {
  background-color: var(--button-background-color--disabled);
  color: var(--button-color--disabled);
}

input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
  background-color: var(--input-background-color);
  border-color: var(--input-border-color);
  border-style: var(--input-border-style);
  border-width: var(--input-border-width);
  color: var(--input-color);
}

input[type="date"]:disabled,
input[type="datetime-local"]:disabled,
input[type="email"]:disabled,
input[type="month"]:disabled,
input[type="number"]:disabled,
input[type="password"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="text"]:disabled,
input[type="time"]:disabled,
input[type="url"]:disabled,
input[type="week"]:disabled,
textarea:disabled {
  background-color: var(--input-background-color--disabled);
  border-color: var(--input-border-color--disabled);
  color: var(--input-color--disabled);
}

input::placeholder,
textarea::placeholder {
  color: var(--input-placeholder-color);
}

:focus-visible {
  outline-color: var(--focus-visible-outline-color);
  outline-offset: var(--focus-visible-outline-offset);
  outline-style: var(--focus-visible-outline-style);
  outline-width: var(--focus-visible-outline-width);
}
